<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Robot Tracker Home</title>
</head>
<style>
    body{
      font-family: 'Roboto', sans-serif;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: #111;
    }

    .active {
      background-color: #04AA6D;
    }

</style>
<body>
    <ul>
      <li><a href="/docs">Open API</a></li>
      <li><a href="/finder">Robot tracker</a></li>
      <li><a href="">User: {{email}}</a></li>
      <li style="float:right"><a class="active" href="/logout">Logout</a></li>
    </ul>

</body>
</html>